{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Blog</h1>
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ asset('assets/back/img/favicon.png')}}" rel="icon">
  <link href="{{ asset('assets/back/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('assets/back/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/back/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/back/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/back/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/back/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/back/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/back/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('assets/back/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{ asset('assets/back/img/logo.png')}}" alt="">
        <span class="d-none d-lg-block">AlphaWeb</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

  
{% block block_name %}
    
{% endblock %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Nomblog</th>
                <td>{{ blog.nomblog }}</td>
            </tr>
            <tr>
                <th>Descriptionblog</th>
                <td>{{ blog.descriptionblog }}</td>
            </tr>
            <tr>
                <th>Imageblog</th>
                <td><img src="..\uploads\{{ blog.imageblog }}" alt="Blog Image"></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ blog.date ? blog.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
        
    </table>
    

    <a href="{{ path('app_blog_index') }}">back to list</a>

    <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
